<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ play.title }}</title>
</head>
<body>

<h1>Play Title: {{ play.title }}</h1>

<h2>Act: {{ act_no }} - Scene: {{ scene_no }}</h2>


<p>Previous: <a href="/plays/{{ play.id }}/acts/{{ actForPrev }}/scenes/{{ sceneForPrev }}">{{ prevSceneName }}</a>     Next: <a href="/plays/{{ play.id }}/acts/{{ actForNext }}/scenes/{{ sceneForNext }}">{{ nextSceneName }}</a></p>

<p>Setting: {{ play.acts[act_no - 1].scenes[scene_no - 1].title }}</p>



<ul>
    {% for block in play.acts[act_no - 1].scenes[scene_no - 1].blocks %}
        <div>
            <li>{{ block.speaker }} :
                <ul>
                {% for line in block.lines %}
                    <div>
                        {% if line[0] == "[" %}
                            <i>{{ line|replace("[", "")|replace("]","") }}</i>
                        {% else %}
                            {{ line }}
                        {% endif %}
                    </div>
                {% endfor %}
                </ul>
            </li>
        </div>
    {% endfor %}
</ul>

</body>
</html>